.section {
  padding: 1rem 0 5rem;
}

.paper {
  background: linear-gradient(90deg, #16294e, #16294e);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
  border-radius: 28px;
}

.button {
  background: white;
  color: #16294e;
}

@media (max-width: 768px) {
  .paper {
    flex-direction: column;
    text-align: center;
  }
}
